:root {
  --font-primary: 'Playfair Display', serif;
  --font-secondary: 'Poppins', sans-serif;
  --color-header: #f4f0ff;
  --color-button: #6c63ff;
}

body {
  font-family: var(--font-secondary);
}

.navbar-nav .nav-link.active {
  color: var(--color-button);
}

.navbar-about, .navbar-work {
  margin: 30px 100px;
}

.navbar-home {
  background-color: var(--color-header);
  padding: 30px 100px;
}

.hero h1 {
  font-size: 96px;
  font-family: var(--font-primary);
  font-weight: bold;
}

.hero h2 {
  font-size: 36px;
  font-weight: bold;
}

.hero h4, h4 {
  font-size: 24px;
}

h4 {
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 130px 0 204px 0;
  background-color: var(--color-header);
}

.button-hero {
  color: white;
  border: 1px solid var(--color-button);
  border-radius: 4px;
  background-color: var(--color-button);
  padding: 18px 30px;
  margin-top: 40px;
}

.button-hero:hover {
  color: var(--color-button);
  border: 1px solid var(--color-button);
  border-radius: 4px;
}

.title-project {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 30px;
  font-family: var(--font-primary);
}

.project-description {
  text-align: left;
}

title-work {
  margin: 100px 0;
  font-size: 64px;
  font-family: var(--font-primary);
}

.work-p {
  font-family: var(--font-secondary);
  font-size: 14px;
  margin-bottom: 26px;
}

.content {
  background-color: white;
  text-align: center;
  padding: 60px 40px;
}

.content-about {
  text-align: center;
  padding: 60px 40px;
}

.content-about h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 20px 0;
}

.content-work, .content-contact {
  margin: 100px;
}

.content p {
  font-size: 16px;
  margin-bottom: 60px;
  line-height: 30px;
}

.button-content {
  padding: 10px 20px;
  color: var(--color-button);
  border: 1px solid var(--color-button);
  border-radius: 4px;
}

.button-content:hover {
  padding: 10px 20px;
  color: white;
  border: 1px solid var(--color-button);
  background-color: var(--color-button);
  border-radius: 4px;
}

.footer {
  background-color: var(--color-header);
  padding: 50px;
  margin: 60px 40px;
  border: 1px solid var(--color-header);
  border-radius: 20px;
}

.footer h2 {
  font-size: 48px;
  font-family: var(--font-primary);
}

.footer p {
  font-size: 18px;
}

.button-footer {
  color: white;
  border: 1px solid var(--color-button);
  border-radius: 4px;
  background-color: var(--color-button);
  padding: 18px 30px;
  margin-top: 23px;
}

.button-footer:hover {
  color: var(--color-button);
  border: 1px solid var(--color-button);
  border-radius: 4px;
}

.mail-link a {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.mail-link a:hover {
  color: var(--color-button);
  text-decoration: underline;
}

.social-link i {
  color: var(--color-button);
  padding: 10px;
  border: 1px solid var(--color-header);
  border-radius: 50%;
  background-color: var(--color-header);
}

@media (max-width: 900px) {
  .navbar-home, .navbar-about, .navbar-work {
    margin: 0;
    padding: 30px 20px;
  }
  .project-description {
    margin-top: 0;
    text-align: center;
  }
  .mobile {
    text-align: center;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h2 {
    font-size: 28px;
  }
  .hero h4 {
    font-size: 18px;
  }
  .content {
    padding: 60px 20px;
  }
  .content p, .content-about p {
    line-height: 24px;
    margin-bottom: 35px;
  }
  .content-about {
    margin-bottom: 90px;
    padding: 40px 20px;
  }
  .content-work, .content-contact {
    padding: 0 20px;
    margin: 0;
    text-align: center;
  }
  .title-project {
    font-size: 40px;
  }
  .footer {
    padding: 20px;
    text-align: center;
  }
  .footer h2 {
    font-size: 40px;
  }
  .footer p {
    font-size: 16px;
    line-height: 24px;
  }
  .mail-link a {
    font-size: 16px;
  }
}
